---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.desc,
  data,
  slug,
}));
---

<Layout title={`Search | ${SITE.title}`} img="https://img.freepik.com/free-vector/binary-code-concept-illustration_114360-6698.jpg?t=st=1721417851~exp=1721421451~hmac=ac3d5ca8f170f901ad7bc49f648f058885466553ff6bebb984cd8165b87960ba&w=996">
  <Header />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
